#Mumbai{
    margin-right: 10vh;
}


div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#Mumbai{
    color: white!important;
    font-size: 3vh;
    font-weight: bold;
}

#Shroud{
    color: white!important;
    font-size: 3vh;
    font-weight: bold;
}